body {
    margin: 8px 20px 10px 20px;
    background-color:lightgray; 
    

}
header {
    padding: 20px 15px;
    background: khaki;
    text-align: center;
    margin-bottom: 8px;

}
.nav {
    padding: 20px 10px;
    background-color: rgb(79, 224, 50);
    text-align: center;
    margin-bottom: 11px;

}
.aside {
    float: right;
    height: 155px;
    width: 200px;
    text-align: center;
    background-color: khaki;
    padding: 20px;


}
.section {
    height: 185px;
    width: 305px;
    text-align: center;
    background-color: honeydew;
    padding: 5px;
}
.id {
    padding: 10px;
    
}
.grey {
    background-color: dodgerblue;
    padding: 8px;
}
.article {
    padding: 10px;
    color: white;
}
.head {
    padding: 12px;
    background-color: honeydew;
    margin-bottom: 8px;
    font-weight: bold;
}
.p {
    padding: 12px;
    background-color: honeydew;
}
footer {
    text-align: center;
    background-color: khaki;
    margin-top: 8px;
    padding: 20px;
}